body {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 15px;
    background-color: #E6E6FA;
}

.item1 {grid-area: header;}
.item2 {grid-area: keuzemenu;}
.item3 {grid-area: profiel1;}
.item4 {grid-area: profiel2;}
.item5 {grid-area: profiel3;}
.item6 {grid-area: profiel4;}
.item7 {grid-area: profiel5;}
.item8 {grid-area: profiel6;}
.item9 {grid-area: profiel7;}
.item10 {grid-area: profiel8;}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header'
        'keuzemenu profiel1 profiel2 profiel3 profiel4'
        'keuzemenu profiel5 profiel6 profiel7 profiel8';
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    background-color: #E6E6FA;
    /*padding: 10px;*/
}

.grid-container div {
    background-color: #9370DB;
    padding: 20px 0;
}

.item1 {
    text-align: center;
    border-radius: 0 0 25px 0;
}
.item2 *{
    margin-left:10px;
}

.item2{
    width: 200px;
    text-align: left;
    border-radius: 0 0 25px 0;
}

#buttonmen, #buttonwomen {
    display: inline-block;
    width: fill;
    padding: 5px 10px;
    background-color: #4B0082;
    color: #E6E6FA;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #4B0082;
}

.item2 h3 {
    text-decoration: underline;
}

.item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10 {
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
}

img {
    max-width: 100%;
    height: 300px;
    /*filter: grayscale(100%);*/
    border-radius: 100%;
    /*box-shadow: 0 0 1px 3px #DDA0DD inset;*/
    border: 5px solid #9370DB;  
}
