body {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 15px;
    background-color: #E6E6FA;
}

.item1 {grid-area: header;}
.item2 {grid-area: keuzemenu;}
.item3 {grid-area: profiel;}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header'
        'keuzemenu profiel profiel profiel profiel';
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    background-color: #E6E6FA;
}

.grid-container div {
    background-color: #9370DB;
    padding: 20px 0;
}

.item1 {
    text-align: center;
    border-radius: 0 0 25px 0;
}

.item2 *{
    margin-left:10px;
}

.item2 {
    width: 200px;
    text-align: left;
    border-radius: 0 0 25px 0;
}

#back {
    display: inline-block;
    width: fill;
    padding: 5px 10px;
    background-color: #4B0082;
    color: #E6E6FA;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #4B0082;
}

.item3 {
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
}